@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --main-color: blue;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url('./imgs/background-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0px 50px;
}

.top-links {
    display: flex;
    list-style-type: none; 
    position: relative;
}

.top-links li{
    padding: 15px 20px 15px 0px;
}

.top-links li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: #eee;
    font-weight: 600;
}

.logo img {
    padding: 15px 0px 15px 0px;
}

.main-navbar {
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburger-btn {
    position: absolute;
    right: 0; 
    color: #eee;
    padding: 0px 15px;
}

.bottom-decoration  img{
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 100vw;
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 700px;
    padding: 0px 50px;
}

.header-content h2 {
    font-family: "Dancing Script", sans-serif;
    font-size: 60px;
    font-weight: 700;
    color: #fff;
}

.header-content h1{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 25px;
}

.header-content>ul>li {
    display: inline-block;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    padding: 15px;
    margin: 0px 15px 0px 0px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 300;
    color: #fff;
}

.header-content>ul>li:last-child {
    border: none;
}

.header-content>ul {
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: inline-block;
    width: 474px;
}

.order-btn {
    background-color: var(--main-color);
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 15px 0px 0px;
    padding: 10px 40px;
    border-radius: 4px;
    width: 190px;
    cursor: pointer;
}

/* First page styles */
.our-story {
    background-color: #fff;
    padding: 80px 50px;
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

.left-section-content {
    width: 60%;
    margin: 0px 15px 0px 0px;
}

.left-section-content h3 {
    font-family: 'Dancing Script', sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 1;
    color: #666666;
    margin: 0px 0px 20px 0px;
}

.left-section-content h2 {
    font-size: 30px;
    font-weight: normal;
    color: #232323;
    line-height: 1.4;
    margin: 0px 0px 25px;
}

.left-section-content p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    color: #666666;
    margin: 0 0 15px;
}

.left-section-content .contact-menu li {
    display:inline-block;
    list-style-type: none;
    border-right: 1px solid #dbdbdb;
    padding: 15px;
    margin: 0px 15px 0px 0px;
}

.left-section-content .contact-menu li:last-child {
    border: none;
}

.left-section-content .contact-menu {
    border: 1px solid #dbdbdb;
    display: inline-block;
    width: 420px;
}

.contact-menu i {
    color: var(--main-color);
    font-size: 35px;
}

.contact-menu i:first-child {
    margin-left: 15px;
}

.contact-info {
    display: flex;
    flex-direction: column;
}

.contact-info h4 {
    margin-bottom: 5px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
}

.contact-info span {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #666;
}

.form-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 372px;
    height: 463px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: relative;
    padding: 60px 40px 40px;
}

#booking-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.icon {
    background-color: #fff;
    position: absolute;
    top: -40px;
    left: 146px;
    width: 80px;
    height: 80px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 50%;
}

.icon  i {
    color: var(--main-color);
    position: absolute;
    top: 40px;
    left: 25px;
}

.form-title {
    font-size: 24px;
    margin-bottom: 25px;
    text-transform: uppercase;
    line-height: 1.2;
}

#persons {
    margin-bottom: 15px;
    padding: 15px;
    font-family: inherit;
    border: 1px solid #dbdbdb;
    text-align: center;
    color: #666666;
}


form>input {
    margin-bottom: 15px;
    padding: 15px;
    font-family: inherit;
    border: 1px solid #dbdbdb;

}

form>input::placeholder {
    text-align: center;
    color: #666666;
}

#date {
    text-align: center;
    color: #666666;
}

.book-now-btn {
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 5px;
    padding: 15px 40px;
    margin-top: 5px;
    background-color: var(--main-color);
    border: 2px solid var(--main-color);
    color: #fff;
    width: 163px;
    height: 50px;
}

.book-now-btn:hover {
    background-color: transparent;
    border: 2px solid var(--main-color);
    color: #666666;
    transition: 0.7s all;
}

/* Slider syles */
.slider-section {
    background-color: #fff;
    width: 100vw;
}

.slider-grid {
    display: flex;
    justify-content: space-between;
}

.slider-box {
    width: 100%;
    height: 456px;
    position: relative;
}

.slider-box-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    padding: 90px 80px;
}

.icon--trans {
    background-color: rgba(255, 255, 255, 0.716);
    position: relative;
    width: 80px;
    height: 80px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 50%;
    margin: 0px 0px 30px 0px;
}

.icon--trans i {
    color: var(--main-color);
    position: absolute;
    top: 40px;
    left: 23px;
}


.slider-box img {
    object-fit: cover;
    width: 100%;
    height: 456px;
    padding: 8px;
}

.slider-box-content h4 {
    text-transform: uppercase;
    letter-spacing: 1;
    font-size: 18px;
    font-weight: 500;
    margin: 0px 0px 15px 0px;
    color: #fff;
    text-shadow: 1px 1px 2px black;

}

.slider-box-content p {
    text-align: center;
    font-size: 14px;
    line-height: 26px;
    color: #fff;
    text-shadow: 1px 1px 2px black;
}

/* Second page styles */
.menu-section, .chef-section, .blog-section {
    background-color: #fff;
    width: 100vw;
    padding: 80px 50px;
}

.menu-section-content, .chef-section-content, .reviews-section-content, .blog-section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-section-content h3, .chef-section-content h3, .reviews-section-content h3, .blog-section-content h3 {
    color: var(--main-color);
    font-size: 30px;
    font-family: "Dancing Script", sans-serif;
    margin: 0px 0px 15px;
}

.menu-section-content h2, .chef-section-content h2, .reviews-section-content h2, .blog-section-content h2 {
    text-transform: uppercase;
    color: #232323;
    font-size: 30px;
    padding: 0px 0px 20px;
    margin: 0px 0px 15px;
    position: relative;
}

.menu-section-content h2::before {
    content: "";
    background: var(--main-color);
    height: 3px;
    width: 20px;
    position: absolute;
    bottom: 0;
    left: 50%;
}

.menu-section-content h2::after {
    content: "";
    background: var(--main-color);
    height: 3px;
    width: 20px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -25px;
}

.menu-section-content p, .chef-section-content p, .reviews-section-content p, .blog-section-content p {
    width: 60%;
    text-align: center;
    font-size: 14px;
    line-height: 26px;
    font-family: "Open Sans", sans-serif;
    color: #666;
    
}

.menu-navbar-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons-container {
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    text-align: center;
    padding: 5px;
    margin: 40px;
}

.buttons-container button {
    text-transform: uppercase;
    border: none;
    background-color: transparent;
    color: #666666;
    font-weight: 600;
    padding: 8px 20px;
    margin: 5px;
}

.menu-grid {
    display: grid;
    grid-template-areas: 
    "card-1 card-2 card-3"
    "card-4 card-5 card-6";
    grid-gap: 35px;
}
#card-1 {
    grid-area: card-1;
}
#card-2 {
    grid-area: card-2;
}
#card-3 {
    grid-area: card-3;
}
#card-4 {
    grid-area: card-4;
}
#card-5 {
    grid-area: card-5;
}
#card-6 {
    grid-area: card-6;
}


.menu-card {
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: relative;
}

.menu-card img {
    clip-path: polygon(0 85%, 0 0, 100% 0, 100% 85%, 50% 100%);
    width: 100%;
    height: 220px;
    object-fit: cover;

}

.price-info h5{
    color: #fff;
    padding: 5px 25px;
    font-weight: 400;
    font-size: 16px;
    position: absolute;
    top:0;
    right: 0;
    background-color: var(--main-color);
    border-radius: 30px;
    opacity: 0.9;
    margin: 20px;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.card-content h4 {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2;
    margin: 0px 0px 15px;
}

.card-content a {
    text-decoration: none;
    color: #232323;
}

.card-content span {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    line-height: 26px;
    color: #666;
    margin: 0px 0px 15px;
}

.card-content p {
    text-align: center;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    line-height: 26px;
    color: #666;
}

.order-now-btn {
    border-top: 1px solid #dbdbdb;
    padding: 15px 60px 0px 60px;
    margin: 15px 0px 0px;
}

.order-now-btn a {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--main-color);
}

/* Special offer styles */
.special-offer-slider {
    width: 100vw;
    background-color: #f7f7f7;
}

.special-offer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.img-container {
    width: 100%;
    height: 637px;
    background-image: url("./imgs/slider-img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    object-fit: cover;
    position: relative;
}

.slider-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 70px;
    margin-right: 80px;
    background-color: #fff;
    width: 100px;
    height: 100px;
}

.slider-icon h4 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 1px;
    color: var(--main-color);
}

.slider-icon span {
    margin: 5px 0px 0px 0px;
    font-weight: 500;
    font-size: 18px;
    color: #666;
}

.special-offer-content {
    display: flex;
    flex-direction: column;
    padding: 80px;
    width: 100%;
    height: 100%;
    position: relative;
}

.special-offer-content h3 {
    font-family: "Dancing Script", sans-serif;
    font-size: 30px;
    margin: -5px 0px 15px;
    color: #666;
}

.special-offer-content h2 {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e7e7e7;
}

.special-offer-content span {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    line-height: 26px;
}

.special-offer-content p{
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    line-height: 26px;
    width: 75%;
    margin: 25px 0px 45px 0px;

}

.book-a-table-btn {
    width: 200px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 10px 40px;
    border: 2px solid #232323;
    border-radius: 3px;
    background-color: transparent;
    color: #232323;
    
}

.book-a-table-btn:hover {
    background-color: #232323;
    color: #fff;
    transition: 0.35s all ease-in-out;
}

/* Third page styles */
.chef-section-content h2::before {
    content: "";
    background: var(--main-color);
    height: 3px;
    width: 20px;
    position: absolute;
    bottom: 0;
    left: 50%;
}

.chef-section-content h2::after {
    content: "";
    background: var(--main-color);
    height: 3px;
    width: 20px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -25px;
}

.chef-grid {
    display: grid;
    grid-template-areas: 
    "chef-card-1 chef-card-2 chef-card-3";
    padding: 40px 50px;
    grid-gap: 30px;
}
#chef-card-1 {
    grid-area: chef-card-1;
}
#chef-card-2 {
    grid-area: chef-card-2;
}
#chef-card-3 {
    grid-area: chef-card-3;
}

.chef-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #e7e7e7;
    position: relative;
}

.chef-card img {
    width: 100%;
    height: 360px;
    object-fit: cover;
    /* text-align: center; */
}

.overlay-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    position: absolute;
    top: 320px;
    z-index: 1;
    border-bottom: 1px solid #e7e7e7;
    /* left: 50%; */
}

.overlay-container h4 {
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 5px;
    color: #666;
}

.overlay-container span {
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    margin: 10px 0px 0px;
    padding: 0px 25px;
    color: var(--main-color);
    border: 1px solid #e7e7e7;
    border-radius: 30px;
}

.card-content p {
    text-align: center;
    font-size: 14px;
    color: #666;
    padding: 60px 30px 30px 30px;

}

.card-content ul {
    display: flex;
}

.card-content ul li {
    list-style-type: none;
    padding: 0px 15px;
    margin: 20px 0px 0px;
}

.fa-facebook-f {
    color: #4267B2;
}

.fa-twitter {
    color: #1DA1F2;
}

.fa-pinterest-p {
    color: #E60023;
}

.fa-linkedin-in {
    color:  #0072b1;
}

/* Fourth page styles */
.reviews-section {
    background-color: #f7f7f7;
    width: 100vw;
    padding: 80px 50px;
}

.reviews-section-content h2::before {
    content: "";
    background: var(--main-color);
    height: 3px;
    width: 20px;
    position: absolute;
    bottom: 0;
    left: 50%;
}

.reviews-section-content h2::after {
    content: "";
    background: var(--main-color);
    height: 3px;
    width: 20px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -25px;
}

.reviews-grid {
    display: grid;
    grid-template-areas: 
    "reviews-card-1 reviews-card-2";
    grid-gap: 30px;
    padding: 40px 50px;
}
#reviews-card-1 {
    grid-area: reviews-card-1;
}
#reviews-card-2 {
    grid-area: reviews-card-2;
}

.reviews-card  {
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.reviews-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    position:relative;
}

.reviews-card-content h4 {
    font-size: 18px;
    font-weight: 500;
    color: #232323;
    margin: 0px 0px 15px 0px;
}

.reviews-card-content p {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: #666;
    line-height: 26px;
    width: 75%;
    text-align: center;
}

.slider-icon-2 {
    width: 120px;
    height: 120px;
    margin: 15px 0px 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.slider-icon-2 img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.reviews-card-content h5 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 1px;
    margin: 0px 0px 10px;
    color: #232323;
}

.reviews-rating i {
    color: var(--main-color);
}

.quote-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 55%;
    bottom: 190px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #fff;
    color:var(--main-color);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* Fifth page styles */
.blog-section-content h2::before {
    content: "";
    background: var(--main-color);
    height: 3px;
    width: 20px;
    position: absolute;
    bottom: 0;
    left: 50%;
}

.blog-section-content h2::after {
    content: "";
    background: var(--main-color);
    height: 3px;
    width: 20px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -25px;
}

.blog-grid {
    display: grid;
    grid-template-areas: 
    "blog-card-1 blog-card-2"
    "blog-card-1 blog-card-3";
    grid-gap: 30px;
    padding: 40px 50px;
}
#blog-card-1 {
    grid-area: blog-card-1;
}
#blog-card-2 {
    grid-area: blog-card-2;
}
#blog-card-3 {
    grid-area: blog-card-3;
}

#blog-card-2 {
    border-bottom: 1px solid #e7e7e7;
    padding: 0px 0px 30px;
}

.blog-article-card img {
    width: 100%;
}

.blog-article-card-sm {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog-article-card-sm  img{
    min-width: 275px;
    height: 215px;
    object-fit: cover;
}

.read-more-btn {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: var(--main-color);
    background-color: transparent;
    padding: 10px 40px;
    border: 2px solid var(--main-color);
    border-radius: 30px;
    cursor: pointer;
}

.read-more-btn:hover {
    color: #fff;
    background-color: var(--main-color);
    transition: 0.3s all ease-in-out;
}

.card-content-info {
    display: flex;
    flex-direction: column;
}

.tools-list-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tools-list-type a{
    text-transform: uppercase;
    text-decoration: none;
    color: #666;
}

.tools-list-type a i{
    padding-right: 5px;
}

.tools-list-1 ul li{
    list-style-type: none;
    padding: 10px;
}

.tools-list-1 ul li:first-child {
    padding-left: 0;
}

.blog-title-lg {
    text-decoration: none;
    color: #232323;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.4;
}

.blog-card-content>a:hover {
    color: var(--main-color);
}

.blog-card-content p {
    font-family: "Opens Sans", sans-serif;
    font-size: 14px;
    line-height: 26px;
    color: #666;
    margin: 15px 0px 15px 0px;
}

.card-content-info {
    padding: 0px 0px 0px 30px;
}

.tools-list-type-sm li{
    list-style-type: none;
    text-transform: uppercase;
}

.tools-list-type-sm li:last-child {
    padding-bottom: 15px;
}

.tools-list-type-sm>li>a {
    text-decoration: none;
    color: #666;
}

.tools-list-type-sm>li>a>i {
    padding-right: 5px;
}

.blog-title-sm {
    text-decoration: none;
    color: #232323;
    font-size: 18px;
    font-weight: 600;
    margin-top: 15px;
}

/* Footer styles */
.footer-section {
    background-color: #1D2024;
    color: #ccc;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 70px 50px;
}

.footer-grid {
    display: grid;
    grid-template-areas: 
    "footer-card-1 footer-card-2 footer-card-3 footer-card-4";
    grid-gap: 25px;
}
#footer-card-1 {
    grid-area: footer-card-1;
}
#footer-card-2 {
    grid-area: footer-card-2;
}
#footer-card-3 {
    grid-area: footer-card-3;
}
#footer-card-4 {
    grid-area: footer-card-4;
}

.footer-grid h4 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    margin: 0px 0px 15px;
    padding: 0px 0px 20px;
    position: relative;
}

.footer-grid h4::after {
    content:"";
    position: absolute;
    bottom: 0;
    left: 10px;
    width: 30px;
    height: 2px;
    background: #ccc;
}

.footer-grid h4::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 5px;
    background: #ccc;
}

.contact-info-card p {
    font-size: 14px;
    margin: 0px 0px 15px;
}

.contact-info-card ul li {
    list-style-type: none;
}

.contact-info-card ul li span {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}

.contact-info-card ul li a {
    font-size: 14px;
    text-decoration: none;
    color: #ccc;
}

.contact-info-card ul li a:hover {
    color: var(--main-color);
}

.food-menu-card ul li {
    list-style-type: none;
    font-size: 14px;
    font-weight: 500;
    margin: 0px 0px 15px;
}

.imgs-grid {
    display: grid;
    grid-template-areas: 
    "thumb-1 thumb-2 thumb-3"
    "thumb-4 thumb-5 thumb-6";
    grid-gap: 10px;
}
#thumb-1 {
    grid-area: thumb-1;
}
#thumb-2 {
    grid-area: thumb-2;
}
#thumb-3 {
    grid-area: thumb-3;
}
#thumb-4 {
    grid-area: thumb-4;
}
#thumb-5 {
    grid-area: thumb-5;
}
#thumb-6 {
    grid-area: thumb-6;
}

.instagram-feed-card img{
    width:100%;
    height: 70px;
    object-fit: cover;
}

.opening-hours-card p {
    font-size: 14px;
    padding: 0px 0px 15px;
    margin: 0px 0px 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); 
}

.opening-hours-card p:last-child {
    border: 0;
}

.opening-hours-card span{
    float: right;
    padding:  3px 15px;
    background-color: var(--main-color);
    border-radius: 5px;
    color: #fff;
}

footer {
    background-color: #1D2024;
    padding: 0px 50px;
    color: #ccc;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}

.terms-and-cond ul{
    display: flex;
}

.terms-and-cond>ul>li {
    list-style-type: none;
    padding: 0px 20px;
}

.terms-and-cond>ul>li:last-child {
    padding-right: 0px;
}

.drepturi-autor a {
    text-decoration: none;
    color: #fff;
}

.drepturi-autor a:hover{
    color: var(--main-color);
}

/* Media Queries */
@media only screen and (max-width: 1175px) {
    /* Special offer styles */
    .special-offer-container {
        flex-direction: column;
    }
    .img-container {
        height: 350px;
        background-size: 100%;
    }
    .special-offer-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .special-offer-content h2 {
        padding: 0px 120px 15px 120px;
    }
    .slider-icon {
        top: 300px;
        margin-right: 0;
    }
    /* Fifth page styles */
    .blog-grid {
        grid-template-areas: 
        "blog-card-1"
        "blog-card-2"
        "blog-card-3";
    }
    .blog-article-card img {
        height: 400px;
        object-fit: cover;
    }
}

@media only screen and (max-width: 1000px){
    /* Second page styles */
    .menu-grid {
        grid-template-areas: 
        "card-1 card-2"
        "card-3 card-4"
        "card-5 card-6";
    }
    /* Third page styles */
    .chef-grid {
        grid-template-areas: 
        "chef-card-1"
        "chef-card-2"
        "chef-card-3";
    }
    .chef-card img {
        display: flex;
        justify-content: flex-start;
    }
}

@media only screen and (max-width: 960px){
    /* slider styles */
    .slider-grid {
        display: block;
    }
    /* Footer styles */
    .footer-grid {
        grid-template-areas: 
        "footer-card-1 footer-card-2"
        "footer-card-3 footer-card-4";
    }
    .instagram-feed-card img{
        width: 100%;
        height: 105px;
    }
}

@media only screen and (max-width: 900px) {
    /* First page sstyles */
    .our-story {
        flex-direction: column;
    }
    .left-section-content {
        width: 100%;
    }
    .right-section-content {
        padding: 80px 0px 0px 0px;
        position: relative;
    }
    .icon {
        left: 44%;
    }
    .form-box {
        width: 100%;
    }
    /* Footer styles */
    .footer-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 860px) {
    /* Fourth page styles */
    .reviews-grid {
        grid-template-areas: 
        "reviews-card-1"
        "reviews-card-2";
    }
    .main-navbar {
        display: none;
    }
}

@media only screen and (max-width: 740px){
    /* header styles */
    .header-content>ul {
        display: none;
    }
    /* Fifth page styles */
    .blog-article-card-sm {
        flex-direction: column;
    }
    .blog-article-card-sm img {
        width: 100%;
    }
    .card-content-info {
        padding: 0;
    }
    .tools-list-type-sm {
        display: flex;
    }
    .tools-list-type-sm li {
        padding: 10px 20px 0px 0px;
    }
}

@media only screen and (max-width: 685px) {
    /* First page styles */
    .icon {
        left: 42%;
    }
    /* Second page styles */
    .menu-grid {
        grid-template-areas: 
        "card-1"
        "card-2"
        "card-3"
        "card-4"
        "card-5"
        "card-6";
    }
    /* special offer styles */
    .special-offer-content {
        padding: 80px 40px;
    }
    /* Footer styles */
    .footer-grid {
        grid-template-areas: 
        "footer-card-1" 
        "footer-card-2"
        "footer-card-3" 
        "footer-card-4";
    }
    .instagram-feed-card img{
        width: 100%;
        height: 105px;
    }
}

@media only screen and (max-width: 550px) {
    /* First page styles */
    .our-story {
        padding: 80px 30px;
    }
    /* Special offer  styles */
    .special-offer-content h2{
        text-align: center;
    }
    .special-offer-content p {
        width: 100%;
    }
    /* Second page styles */
    .menu-section-content p, .chef-section-content p, .reviews-section-content p, .blog-section-content p{
        width: 100%;
    }
    .menu-section, .chef-section, .reviews-section, .blog-section {
        padding: 50px 30px;
    }
    .chef-grid, .reviews-grid, .blog-grid {
        padding: 40px 0px;
    }
}